### macOS
# Finder metadata
.DS_Store

# Thumbnails
._*

# Custom folder icons
Icon

# Volume root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

### Go
# Binaries for programs and plugins
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Vendored dependencies
/vendor/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work.sum

# env file
.env
.gocache

# tmp
/tmp/

# config
/config/*.toml
.cache
